
.aa {
    width: 150px;
}

.scroll {
    width: 3%;
}

#footer {

    font-size: small;
}

#scroll {
    position: absolute;
    text-align: center;
    margin-top: -5%;
    filter: invert(1);
}

@media (min-width: 576px) {
    .master-craftman {
        margin-left: 0px;
        margin-bottom: -5rem;
    }
}

@media (min-width: 768px) {
    .master-craftman {
        margin-left: -3rem;

    }
}

.Timeless-container {
    margin-right: -5rem;
    padding-top: 5rem;
    z-index: 1;

    .Timeless {
        margin-bottom: -2rem;
    }
}

.Master{
    margin-bottom: -5rem;
}

.Jacksonvile {
    height: fit-content;
    z-index: -1;
}

.Florida{
    width: 120%;
}


.Energy-container {
    align-self: flex-end;
}

.Amelia-island-container {
    padding-top: 7rem;
}

.Homes-container {
    align-self: flex-end;
   
}

.custom-design-container {
    margin-top: -16rem !important;
}

.homes-for-sale-container {
    margin-top: -8rem !important;
}