h4 {
    font-family: Verdana;
    text-align: center;
}

blockquote {

    text-align: center;
}

h2 {

    font-family: Courier New;
    padding-top: 13%;
}

u {
    color: blue;
}

#message1 {


    margin-top: 10%;
    margin-bottom: -2%;
    padding-bottom: -30%;

}

#message2,
#message4,
#message5,
#message6,
#message7,
#message8 {
    padding-top: 3%
}

#title {
    text-align: center;
}

#footer {
    text-align: center;
    font-size: small;
}

#mess {
    text-align: center;
    font-size: small-caps;
    padding-bottom: 10%;

}

body {
    background-color: #D4D9DB
}

.aa {
    width: 150px;

}

#logo1 {
    text-align: center;

}

#photo1 {
    text-align: center;

}

.photo {
    width: 80%;
}

.zdj5 {
    width: 60%
}

.zdj5 {
    float: left;
}

.zdj6 {
    width: 60%;
}

.zdj6 {
    padding-right: 15%;
}

.zdj6 {
    margin-top: -15%;
}

.zdj6 {
    float: right;
}

#message2 {
    text-align: left;

}

.zdj4 {
    width: 40%;
}

.zdj4 {
    float: left;
}

.zdj4 {
    padding-left: 15%;
}

.zdj4 {
    margin-top: -5%;
}

#message3 {
    text-align: left;
}

.zdj3 {
    width: 40%;
}

#message4 {
    text-align: left;
}

.zdj3 {
    float: right;
}

.zdj3 {
    padding-right: 15%;
}

.zdj3 {
    padding-top: 5%;
}


.zdj2 {
    width: 50%;
}

.zdj2 {
    float: left;
}

.zdj2 {
    padding-left: 7%;
}

.zdj2 {
    margin-top: -12%;
}

#message5 {
    text-align: right;
}

.zdj1 {
    width: 50%;
}

.zdj1 {
    float: right;
}

.zdj1 {
    margin-top: -18%;
}

#message6 {
    text-align: left;
}

.zdj7 {
    width: 45%;
}

.zdj7 {
    float: left;
}

.zdj7 {
    margin-top: -11%;
}

.zdj7 {
    padding-left: 28%;
}

#message7 {
    text-align: center;
    margin-top: 5%;
}

#message2 {
    margin-top: 11%;
}

#message6 {
    margin-top: -5%;
}

#photo1 {
    margin-bottom: -10%;
}

#message8 {
    margin-top: -10%;
}

.scroll {
    width: 2%;
}

.scroll {
    margin-bottom: 50%;
}
.scroll{
    padding-top:10%;
}