h4 {
    font-family: Verdana;
    text-align: center;
}

blockquote {

    text-align: center;
}

h2 {

    font-family: Courier New;
}

#message1 {
    margin-left: px;
    margin-right: 00px;
    margin-top: 0px;
    margin-bottom: 200px;
}

.cz1,
.cz2,
.cz3,
.cz4,
.cz5,
.cz6,
.cz7,
.cz8,
.cz9 {
    padding-left: 450px;
    padding-top: 120px;

    font-family: Palatino Linotype;
    padding-bottom: 10px;

}

#message2 {
    float: left;

}

img {
    margin-right: 5px;
}

#container {
    margin: 303px auto;
    border: 0px solid black;
    padding: 15px;
    margin: 250px auto;
    width: 500px;
    height: auto;
    float: center;
}

#title {
    text-align: center;
}