
h2{
    font-family: Courier New;
}
h4{
    font-family: Verdana;
}
.aa {
    width: 150px;
}

.scroll {
    width: 3%;
}

#footer {

    font-size: small;
}

#scroll {
    position: absolute;
    text-align: center;
    margin-top: -5%;
    filter: invert(1);
}

@media (max-width: 576px) {
    .master-craftman {
        margin-left: 0px;
        margin-bottom: -5rem;
    }

    .florida{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .master-craftman {
        margin-left: -3rem;

    }

    .florida{
        width: 120%;
    }
}

.timeless-container {
    margin-right: -5rem;
    padding-top: 5rem;
    z-index: 1;

    .timeless {
        margin-bottom: -2rem;
    }
}

.master{
    margin-bottom: -5rem;
}

.jacksonvile {
    height: fit-content;
    z-index: -1;
}

.energy-container {
    align-self: flex-end;
}

.amelia-island-container {
    padding-top: 7rem;
}

.homes-container {
    align-self: flex-end;
   
}

.custom-design-container {
    margin-top: -16rem !important;
}

.homes-for-sale-container {
    margin-top: -8rem !important;
}