h4 {
    font-family: Verdana;
    text-align: center;
}

h2 {

    font-family: Courier New;
    padding-top: 13%;
}

u {
    color: blue;
}

body {
    background-color: #D4D9DB
}

#message1 {


    margin-top: 10%;
    margin-bottom: -2%;
    padding-bottom: -30%;

}

#message2,
#message4,
#message5,
#message6,
#message7,
#message8 {
    padding-top: 3%
}

#message7 {
    text-align: center;
    margin-top: 50px;
}

#message2 {
    margin-top: 11%;
}

#message6 {
    margin-top: -5%;
}

#message8 {
    margin-top: -210px;
}

#title {
    text-align: center;
}

#footer {
    text-align: center;
    font-size: small;
    padding-bottom: 100px;
}

#mess {
    text-align: center;
    font-size: small-caps;
    padding-bottom: 50px;
    margin-top: -150px;
}

.aa {
    width: 150px;

}

#logo1 {
    text-align: center;
}

#photo1 {
    text-align: center;
    margin-bottom: -10%;
}

.photo {
    width: 80%;
}

.zdj5,
.zdj6 {
    width: 60%
}

.zdj2,
.zdj4,
.zdj5,
.zdj7 {
    float: left;
}

.zdj6,
.zdj3 {
    padding-right: 15%;
}

.zdj6 {
    margin-top: -15%;
}

.zdj1,
.zdj3,
.zdj6 {
    float: right;
}

.zdj4,
.zdj3 {
    width: 40%;
}

.zdj4 {
    padding-left: 15%;
}

.zdj4 {
    margin-top: -5%;
}

#message2,
#message3,
#message4,
#message6 {
    text-align: left;
}

.zdj3 {
    padding-top: 5%;
}

.zdj1,
.zdj2,
.zdj7 {
    width: 50%;
}

.zdj1,
.zdj2 {
    padding-left: 7%;
}

.zdj2 {
    margin-top: -12%;
}

#message5 {
    text-align: right;
}

.zdj1 {
    margin-top: -18%;
}

.zdj7 {
    margin-top: -11%;
}

.zdj7 {
    padding-left: 28%;
}

.scroll {
    width: 3%;
}

#scroll {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    filter: invert(1);
}

.container {
    position: relative;
}